body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Digital';
  src: local('Digital'), url(./fonts/Digital.ttf) format('truetype');
}

.digital {
  font-family: 'Digital';
}
